::selection {
  background-color: var(--accent-color);
  color: #000;
}

.header {
  display: flex;
  background-color: #121212;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: #fff 1px solid;
}

.links-block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.link-list {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.icon {
  color: var(--accent-color);
  transform-origin: center;
  transition: color 0.3s ease-in, transform 0.2s ease;
}

.tg_icon {
  transform: scale(1.4);
}

.link-item a:hover .tg_icon {
  color: #0088cc;
  transform: scale(2.1) rotate(-6deg)
}

.link-item a:hover .vk_icon {
  color: #0088cc;
  transform: scale(1.7) rotate(6deg)
}

.animation {
  background-color: #fff;
  padding: 15px 0 15px 0;
  color: #000;
  letter-spacing: 2px;
  white-space: nowrap;
  font-size: 14px;
  overflow: hidden;
}

.animation__text {
  animation: marquee 30s linear infinite;
  display: inline-block;
  user-select: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 350px 0 150px 0;
  gap: 50px;
  border-bottom: 2px solid #fff;
}

.hero__container {
  display: grid;
  place-items: center;
  flex-direction: column;
  gap: 15px;
}

.hero__header {
  font-size: 94px;
  font-weight: 800;
}

.hero__text {
  margin: 0 clamp(400px, 36vw, 990px);
  border-left: #ffffff solid 3px;
  padding-left: 15px;
  font-weight: 600;
  text-transform: none;
  font-size: 28px;
}

.hero__button {
  padding: 20px 32px;
  border-radius: 0;
  color: #fff;
  background-color: #121212;
  border: #fff solid 1px;
  box-shadow: 4px 4px 0 0 #fff;
  font-size: 24px;
  font-weight: 600;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.hero__button:hover {
 box-shadow: 0 0 0 0 #fff;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 150px clamp(30px, 10vw, 120px);
  gap: 30px;
  justify-content: center;
}

.about__container {
  display: grid;
  justify-content: center;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  
}

.about__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #121212;
  color: #fff;
  border: #fff 1px solid;
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.about__card:hover {
  box-shadow: 4px 4px 0 0 #fff;
  transform: translateY(-2px);
  
}

.about__title {
  font-size: 32px;
  width: fit-content;
  background: #fff;
  color: #000;
  line-height: 1;
  user-select: none;
}

.about__text {
  font-size: 24px;
  text-transform: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  color: #000;
  flex-direction: column;
  font-size: 14px;
}

.footer p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: none;
  width: fit-content;
  user-select: none;
  letter-spacing: 2px;
}

@media (max-width: 1440px) {
  .hero__text {
  margin: 0 clamp(100px, 20vw, 500px);
}

  .hero {
    padding: 150px 0 170px 0;
  }

  .about__container {
    grid-template-columns: 1.5fr 1fr;
  }
}

@media (width <= 1280px) {
  .about__container {
  grid-template-columns: 1fr;
  }
}

@media (width <= 700px) {
  body {
    padding-top: 100px;
  }

  .hero {
  padding: 150px 0 170px 0;
} 

  .hero__header {
    font-size: 56px;
    padding-left: 50px;
  }

  .hero__text {
    font-size: 22px;
    margin: 0 50px;
  }

  .links-block {
    flex-direction: column;
    margin-left: 35px;
  }

  .header__title {
    font-size: 26px;
  }

  .links-block__title {
    font-size: 16px;
  }

  .link-list {
    gap: 20px;
  }

  .footer {
    font-size: 11px;
  }
}